body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
}

#canvas {
  background-color: #2a5;
}

button, label {
  display: inline-block;
  background-color: white;
  font-size: 20px;
  padding: 5px 7px 7px 5px;
  border: none;
  border-radius: 5px;
  text-shadow: 1px 1px;
  cursor: pointer;
}

input[type="file"]  {
  display: none;
}